.subject-checkbox {
margin-right: 4px;
padding-top: 0px;
vertical-align: middle;
cursor: pointer;
}
body {
    width: 400px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: rgb(28, 28, 28);
}
.name, .average, h2, p, label {
    color: rgb(255, 255, 255)
}
.subject {
    margin-bottom: 5px;
    border-bottom: 1px solid #646464;
    padding-bottom: 5px;
}
.grades {
    color: rgb(220, 220, 220);
    font-size: 0.9em;
}
.average {
    font-weight: bold;
}
.overall {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.1em;
}
